<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help Desk</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <h1>Help Desk</h1>
</header>
<nav>
    <ul>
        <li>
            <a href="index.html">Inicio</a>
        </li>
        <li>
            <a href="reportar.html">Reportar</a>
        </li>
        <li>
            <a href="tickets.html">Tickets</a>
        </li>
    </ul>
</nav>
<main>
    <div class="grid-layout">
        <section>
            <h2>Bienvenido a Help Desk</h2>
            <p>Servicio de soporte técnico diseñado para centralizar, gestionar y resolver las incidencias o solicitudes de los usuarios</p>
            <p>El sistema permite reportar incidentes (hardware, red, software), asignar técnicos especializados y gestionar estados de resolución.</p>
        </section>
    </div>
</main>

<footer>
    <address>Machala, El Oro, Ecuador</address>
    <small>&copy; 2026</small>
</footer>
</body>
</html>