<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help Desk</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>
<body>
<header>
    <h1>Help Desk</h1>
</header>
<nav>
    <ul>
        <li>
            <a href="index.html">Inicio</a>
        </li>
        <li>
            <a href="reportar.html">Reportar</a>
        </li>
        <li>
            <a href="tickets.html">Tickets</a>
        </li>
    </ul>
</nav>
<main>
    <div>
        <table>
            <caption>Lista de Tickets</caption>
            <thead>
            <tr>
                <th>Titulo</th>
                <th>Categoria</th>
                <th>Prioridad</th>
                <th>Descripcion</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Error de Impresora</td>
                <td>Hardware</td>
                <td>Media</td>
                <td>La impresora necesita limpieza</td>
                <td>En espera</td>
            </tr>
            <tr>
                <td>Excel se cierra</td>
                <td>Software</td>
                <td>Alta</td>
                <td>Excel se cierra inmediatamente al abrir</td>
                <td>Atendido</td>
            </tr>
            <tr>
                <td>No se conecta a la red wifi</td>
                <td>Red</td>
                <td>Alta</td>
                <td>La computadora no se conecta a la red wifi</td>
                <td>Resuelto</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<footer>
    <address>Machala, El Oro, Ecuador</address>
    <small>&copy; 2026</small>
</footer>
</body>
</html>